<div class="container-fluid d-flex w-100 h-100 p-3 mx-auto flex-column ">
    <div class="mt-2">
        <a class="navbar-brand col-6 text-danger fw-bold  " href="#">Danh Sách Người Dùng</a>
        <a href="/register" class="btn btn-primary">Thêm Quản Trị Viên</a>
        <a href="/add" class="btn btn-primary">Thêm Quản Thành Viên</a>
    </div>
    <div class="mt-4">

        <div class="row">
            {{#each data }}
            <div class="col-sm-6 col-lg-4 mt-2 ">
                <div class="card card-response-item" style="width: 18rem; height: 100%;">
                    <img src="{{imageUri}}" style="width: 16rem;height: 20rem;" class="card-img-top"
                        alt="Card image cap ">
                    <div class="card-body">
                        <h5 class="card-title">Tên : {{name}}</h5>
                        {{!-- <h5 class="card-title">{{@key}}</h5> --}}
                        <p class="card-text">age : {{age}}</p>
                        <p class="card-text">Phone : {{phone}}</p>
                        <p class="card-text">Email : {{email}}</p>
                        <p class="card-text">Hobbies : {{hobbies}}</p>
                        <p class="card-text">Availability :{{availability}}</script>
                        </p>
                        <a   href="/delete/{{@key}}" class="btn btn-danger mt-1">Xóa Tài Khoản</a>
                        <a   href="/Ban/{{@key}}" class="btn btn-danger mt-1" >Khóa Tài Khoản</a>
                        <a   href="/Unban/{{@key}}" class="btn btn-primary mt-1">Mở Khóa Tài Khoản</a>
                        <a   href="/Update/{{@key}}" class="btn btn-primary mt-1">Update</a>
                    </div>
                </div>
            </div>
            {{/each}}

        </div>
    </div>
</div>